header.header
	a(href="javascript:void(0)").link-back: img(src="images/white-arrow-left.svg" alt="назад")
	span.header__city Москва, Россия
	a(href="javascript:void(0)").jcb-logo.header__logo: img(src="images/jcb-logo.svg" alt="JCB")