include ../sprite/sprite
mixin counter(count)
    .counter
        button.btn.counter__btn
            +icon('minus')
        input.counter__number(type='text', value=count, disabled)
        button.btn.counter__btn.counter__btn_active
            +icon('plus')
