html,
body{
	margin: 0;
	padding: 0;
}

body{
	font: 14px 'ProximaNovaRegular', Helvetica sans-serif;
	background: url(../../src/img/main_back-min.png) no-repeat 54% 48% /auto;
	color: #FFF;
	max-width: 1799px;
	height: 100%;
}

.container{
	margin: 0 auto;
	width: 1148px;
}

.container_header{
	min-height: 210px;

}

.logo{
	display: inline-block;
	padding-top: 39px;
}

.jsb-headline{
	display: inline-block;
	vertical-align: top;
	padding: 32px 0 0 26px;
}

.hotels{
	font: 28px 'ProximaNovaBold', Helvetica sans-serif;
	text-transform: uppercase;
	margin: 0 auto;
}

.description{
	font: 16px "ProximaNovaRegular", Helvetica sans-serif;
}

.container_main-block{
	background: #fff;
	color: black;
	border: 1px;
	margin: 0 auto;
	border-radius: 8px;
}

.block-search{
	display: flex;
	justify-content: center;
	padding-top: 69px;
}

.block-search__search{
	border: none;
	outline: none;
	width: 85%;
	border-bottom: 1px solid black;
	padding-left: 33px;
	font-size: 16px;
}

.block-search__button{
	height: 20px;
	width: 20px;
	cursor: pointer;
	position: relative;
	bottom: 7px;
	right: 31px;
	visibility: hidden;
}

.block-search__button:before{
	content: url(../../src/img/find_icon.png);
	height: 20px;
	width: 20px;
	visibility: visible;
}

.options{
	line-height: 2.7em;
	padding: 44px 0 0 98px;
}

.check-in{
	display: inline-block;
}

.check-in__input{
	height: 44px;
	width: 299px;
	border-radius: 2px;
	border: 1px solid;
}

.check-out{
	display: inline-block;
	padding-left: 5px;
}

.check-out__input{
	height: 44px;
	width: 299px;
	border-radius: 2px;
	border: 1px solid;
}

.row-select{
	height: 46px;
	width: 106px;
	padding-left: 16px;
	border-radius: 2px;
	border: 1px solid black;
	font-size: 15px;
	color: #db0536;
	appearance: none;
	-webkit-appearance: none;
	background: url(../../src/img/arrow_down.png) 85% 60% no-repeat;
}

.checkbox{
	display: inline-block;
	margin-left: 6px;
	transform: translateX(29px); 
}

.btn{
	height: 60px;
	font: 18px 'ProximaNovaRegular', Helvetica sans-serif;
	color: #FFF;
	background: #db0536;
	display: flex;
	margin: 33px auto;
	padding: 0 71px 0 71px;
	border-radius: 34px;
	cursor: pointer;
	transition: 0.3s easy-in-out 0s;
	border: 1px;
	outline: none;
}

.btn:hover{
	background: #ac0027;
}

.change-date{
	text-align: center;
	font-size: 14px;
	padding: 3px 0 36px 0;
}

.icons-block{
	display: inline-block;
}

.icons{
	display: inline-block;
	padding: 0 0 0 9px;
}

.options__checkbox{
	text-align: center;
	padding: 43px 12px 0 0;
	font-size: 16px;
}

.checkbox-custom{
    width: 21px;
    height: 21px;
    border: 2px solid #35363c;
    cursor: pointer;
    display: inline-block;
}

.checkbox-custom,
.checkbox-label{
    vertical-align: middle;
    margin-left: 11px; 
}

.checkbox-plane:checked + .checkbox-custom:before{
    content: "";
    position: relative;
    display: flex;
  	width: 10px;
    height: 10px;
    top: 5px;
    left: 5px;
    background: #db0536;
}

.plane-img{
	padding-left:11px;
	position: relative;
	top: 7px;
	right: 6px;
}

.checkbox-label:before{
	content: url(../../src/img/plane.png);
	position: relative;
	right: 5px;
	top: 3px;
}

option{
	background: #1e1f26;
	color: #fff;
}

.checkbox-plane{
	display: none;
}


.row-select:focus, .row-select:before{
	background: url(../../src/img/arrow_up.png) 85% 60% no-repeat; 
}

.preloder{
  position: fixed;
  top: 0;
  right: 0;
  background: black;
  height: 100%;
  width: 100%;
  transition: 1s all easy;
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.done{
  opacity: 0;
  visibility: hidden;
}

.circle, .circle:before, .circle:after{
  border: 3px solid transparent;
/*   border: 3px solid greeen; */
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.circle{
  height: 110px;
  width: 110px;
  margin: 200px auto;
  position: relative;
  border-top-color: gold;
  animation-name: spin;
  -o-border-animation-name: spin;
  -ms-border-animation-name: spin;
  -webkit-animation-name: spin;
  -moz-border-animation-name: spin;
  animation-duration:1.1s;
  -o-border-animation-duration:1.1s;
  -ms-border-animation-duration:1.1s;
  -webkit-animation-duration:1.1s;
  -moz-border-animation-duration:1.1s;
  animation-iteration-count: infinite;
  -o-border-animation-iteration-count: infinite;
  -ms-border-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-border-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-border-animation-direction: normal;
  -ms-border-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-border-animation-direction: normal;
}

.circle:before, .circle:after{
  content: "";
  position: absolute;
}

.circle:before{
  top: 10px;
  left:10px;
  bottom: 10px;
  right: 10px;
  border-top-color: red;
  animation-name: spin;
  -o-border-animation-name: spin;
  -ms-border-animation-name: spin;
  -webkit-animation-name: spin;
  -moz-border-animation-name: spin;
  animation-duration:2.1s;
  -o-border-animation-duration:1.1s;
  -ms-border-animation-duration:1.1s;
  -webkit-animation-duration:1.1s;
  -moz-border-animation-duration:1.1s;
  animation-iteration-count: infinite;
  -o-border-animation-iteration-count: infinite;
  -ms-border-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-border-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-border-animation-direction: normal;
  -ms-border-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-border-animation-direction: normal;
  -o-border-animation-duration: 2.1s;
  -ms-border-animation-duration: 2.1s;
  -moz-border-animation-duration: 2.1s;
  -moz-border-animation-duration: 2.1s;
  animation-duration: 2.1s;
}

.circle:after{
  top: 23px;
  left:23px;
  bottom: 23px;
  right: 23px;
  border-top-color: indigo;
  animation-name: spin;
  -o-border-animation-name: spin;
  -ms-border-animation-name: spin;
  -webkit-animation-name: spin;
  -moz-border-animation-name: spin;
  animation-delay: 1.3s;
  -o-border-animation-delay: 1.3s;
  -ms-border-animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  -moz-border-animation-delay: 1.3s;
  animation-duration:3.1s;
  -o-border-animation-duration:1.1s;
  -ms-border-animation-duration:1.1s;
  -webkit-animation-duration:1.1s;
  -moz-border-animation-duration:1.1s;
  animation-iteration-count: infinite;
  -o-border-animation-iteration-count: infinite;
  -ms-border-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-border-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-border-animation-direction: normal;
  -ms-border-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-border-animation-direction: normal;
}

@keyframes spin{
  from{
    transform: rotate(0deg);
    -o-border-transform: rotate(0deg);
    -ms-border-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-border-transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
    -o-border-transform: rotate(360deg);
    -ms-border-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-border-transform: rotate(360deg);
  }
}