html,
body{
	margin: 0;
	padding: 0;
}

body{
	font: 14px 'ProximaNovaLight' Helvetica, sans-serif;
	margin-bottom: 45px;
}

.header{
	height: 170px;
	color: #fff;
	background: url(../../src/img/hotel-sheraton.jpg) no-repeat 50% 100%;
}

.container{
	width: 320px;
	margin: 0 auto;
}

.container_header{
	height: 50px;
	width: 320px;
	background: #35363c;
}

.header__block-left{
	height: 50px;
	width: 50px;
	background: #4b4c51;
	display: inline-block;
	
}

.header__city{
	font: 16px 'ProximaNovaLight', Helvetica, sans-serif;
	display: inline-block;
	vertical-align: text-bottom;
	margin: 0 0 3px 14px;
	
}

.header__logo{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 8px 84px;
}

.link-back{
	display: inline-block;
	margin: 15px 0 0 15px;
}

.header-date{
	text-align: center;
	font-size: 12px;
	padding: 9px 16px 6px 0;
}

.header__site-description{
	text-align: center;
	letter-spacing: 0.04em;
	font: 15px 'ProximaNovaBold', Helvetica sans-serif;
}

.icons{
	position: relative;
	left: 7px;
	display: inline-block;
}

.header__location{
	text-align: center;
	font: 12px 'ProximaNovaLight';
	margin-top: 4px;
}

.hotel_review{
	text-align: center;
	font: 12px 'ProximaNovaLight', Helvetica sans-serif;
}

.room{
	height: 158px;
	width: 280px;
	background: #1e1f26;
	margin: 15px 0 0 19px;
	font-size: 12px;
	color: #fff;
}

.room-type{
	display: inline-block;
	margin: 13px 0 0 16px;
	color: #7d7e80;
	font: 16px 'ProximaNovaBold';
}

.cost{
	display: inline-block;
	margin: 0 0 0 56px;
	font: 16px 'ProximaNovaBold';
}

.room-list{
	margin: 10px 0;
	font: 13px 'ProximaNovaLight', sans-serif ;
	padding: 0 31px;
}

.change-date{
	text-align: center;
	font-size: 12px;
	margin: 22px 30px 0 14px;
}

.btn{
	height: 33px;
	border-radius: 16px;
	text-transform: uppercase;
	margin: 15px 0 0 91px;
	color: #fff;
	background: #8e8f92;
	border: 1px;
	outline: none;
	padding: 0 38px 0 35px;
	font-size: 11px;
}

.btn:hover{
	background: #ac0027;
}

.information-room{
	margin: 16px 0 0 20px;
	font: 16px 'ProximaNovaBold', Helvetica sans-serif;
}

.information-list{
	padding: 0 0 0 29px;
	margin: 4px 0 0 0;
	font: 16px 'ProximaNovaLight', Helvetica sans-serif;
}

.services-room{
	margin: 33px 0 0 21px;
	font: 16px 'ProximaNovaBold', Helvetica sans-serif;
}

.services-list{
	margin: 6px 0 0 -11px;
	font: 16px 'ProximaNovaLight', Helvetica sans-serif;
}

.additional-link{
	display: inline-block;
	margin: 4px 0 0 21px;
	text-decoration: none;
	font: 16px 'ProximaNovaLight', Helvetica sans-serif;
}

.additional-link:hover{
	color: red;
	text-decoration: underline;
}

.location__disposition{
	margin: 16px 0 0 20px;
	font: 16px 'ProximaNovaBold', Helvetica sans-serif;
}

.location__city{
	margin: 5px 0 0 25px;
	font: 14px 'ProximaNovaLight', Helvetica sans-serif;
}

.location__address{
	margin: 1px 0 0 18px;
	font: 16px 'ProximaNovaLight', Helvetica sans-serif;
}

.btn_reservation{
	height: 48px;
	width: 218px;
	text-transform: lowercase;
	background: #db0536;
	border-radius: 28px;
	margin: 19px 0 0 53px;
	padding: 0 61px 0 55px;
	font: 16px 'ProximaNovaLight', Helvetica sans-serif;
}

.rating {
  display: inline-block;
  margin-left: 122px;
  padding-top: 13px; 
}

input { 
  display: none; }

.rating__img {
  float: right;
  font-size: 17px;
  padding: 0 1px 0 0;
  color: #444;
  transition: all .2s;
}

.rating__input:checked ~ .rating__img:before {
  content: '\2605';
  color: #FD4;
  transition: all .25s;
}

.rating__input_star-5:checked ~ .rating__img:before {
  color: #FE7;
}

.rating__input_star-1:checked ~ .rating__img:before {
 color: #F62; }

.rating__img:before {
  content: '\2605';
}

.rating__input:hover ~ .rating__img {
	color: #FD4;
}

iframe{
	margin: 13px 0 0 20px;
}

.slider__circle{
	height: 12px;
	width: 12px;
	background: #d7d7d8;
	border-radius: 10px;
	display: inline-block;
	margin-left: 15px;
}

.slider__circle:hover{
	background: #9a9a9d;
}

.slider{
	margin: 23px 20px 0 0;
	text-align: center;

}


.crossline{
	border-top: 2px solid #bbbbbd;
	width: 280px;
	margin: 15px 0 0 18px;
}

.crossline-2{
	margin: 23px 0 0 19px;
}

.crossline-3{
	margin: 19px 0 0 19px;
}

