html,
body{
	margin: 0;
	padding: 0;
}

body{
	font: 14px 'ProximaNovaLight', Helvetica, sans-serif;
	margin: 0 auto;
	width: 320px;
}

.header{
	height: 170px;
	color: #fff;
	background: url(../../src/img/hotel-sheraton.jpg) no-repeat 50% 100% / cover;
}

.container{
	margin: 0 auto;
}

.container_header{
	height: 50px;
	background: #35363c;
}

.header__block-left{
	height: 50px;
	width: 50px;
	background: #4b4c51;
	display: inline-block;
	cursor: pointer;
	
}

.header__city{
	font-size: 16px;
	display: inline-block;
	vertical-align: text-bottom;
	margin: 0 0 4px 14px;
	
}

.header__logo{
	display: inline-block;
	vertical-align: sub;
	padding-left: 85px;
}

.link-back{
	display: inline-block;
	margin: 15px 0 0 15px;
}

.header-date{
	text-align: center;
	font-size: 12px;
	padding: 9px 17px 6px 9px;
}

.header__site-description{
	text-align: center;
	letter-spacing: 0.04em;
	font: 15px 'ProximaNovaBold', Helvetica sans-serif;
}

.icons{
	display: inline-block;
}

.header__location{
	text-align: center;
	font-size: 12px;
	line-height: 23px;
}

.hotel_review{
	text-align: center;
	font-size: 12px;
}

.room{
	background: #1e1f26;
	margin: 15px 0 0 19px;
	font-size: 12px;
	color: #fff;
	padding-top: 2px;
}

.room-type{
	display: inline-block;
	padding: 10px 0 0 17px;
	color: #7d7e80;
	font: 16px 'ProximaNovaBold';
}

.cost{
	display: inline-block;
	padding-left: 55px;
	font: 16px 'ProximaNovaBold';
}

.room-list{
	font-size: 14px;
	padding: 6px 18px;
	list-style: none;
}

.change-date{
	text-align: center;
	font-size: 12px;
	margin: 24px 30px 0 21px;
}

.btn{
	height: 33px;
	border-radius: 16px;
	text-transform: uppercase;
	margin: 14px auto;
	display: flex;
	color: #fff;
	background: #8e8f92;
	border: 1px;
	outline: none;
	padding: 0 37px 0 37px;
	font-size: 11px;
	cursor: pointer;
	transition: 0.3s ease-in-out 0s;
}

.btn:hover{
	background: #ac0027;
}

.information-room{
	margin: 16px 0 0 20px;
	font: 16px 'ProximaNovaBold', Helvetica sans-serif;
}

.information{
	margin-top: 23px;
	border-top: 1px solid #bbbbbd;
}

.information-list{
	padding: 0 0 0 20px;
	margin: 4px 0 0 0;
	list-style: none;
	font-size: 16px;
}

.services{
	border-top: 1px solid #bbbbbd;
	margin: 17px 0 0 0;
}

.services-room{
	margin: 17px 0 0 22px;
	font: 16px 'ProximaNovaBold', Helvetica sans-serif;
}

.services-list{
	margin: 4px 0 0 0;
	padding: 0 0 0 20px;
	list-style: none;
	color: black;
	font-size: 16px;
}

.additional-link{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: black;
	cursor: pointer;
	font-size: 16px;
	padding: 4px 12px 9px 21px;
	transition: 0.4s ease-in-out 0s;
}

.additional-link:hover{
	color: #db0536;
	text-decoration: underline;
}

.location__disposition{
	margin: 16px 0 0 20px;
	font: 16px 'ProximaNovaBold', Helvetica sans-serif;
}

.location__city{
	margin: 5px 0 0 25px;
	font-size: 14px;
}

.location__address{
	margin: 1px 0 0 18px;
	font-size: 16px;
}

.location{
	border-top: 1px solid #bbbbbd;
	margin: 12px 0 0 0;
}
.btn_reservation{
	height: 48px;
	text-transform: lowercase;
	background: #db0536;
	border-radius: 28px;
	margin: 18px auto;
	padding: 0 48px 0 62px;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s ease-in-out 0s;
}

.rating {
  display: flex;
  justify-content: center;
  line-height: 29px;
  padding-top: 10px;
  flex-direction: row-reverse;
  transition: 0.4s ease-in-out 0s;
}

input { 
  display: none; }

.rating__img {
  float: right;
  font-size: 17px;
  padding: 0 2px 0 0;
  color: #444;
  transition: all .2s;
  cursor: pointer;
}

.rating__input:checked ~ .rating__img:before {
  content: '\2605';
  color: #FD4;
  transition: all .25s;
}

.rating__input_star-5:checked ~ .rating__img:before {
  color: #FE7;
}

.rating__input_star-1:checked ~ .rating__img:before {
 color: #F62; }

.rating__img:before {
  content: '\2605';
}

.rating__input:hover ~ .rating__img {
	color: #FD4;
}

iframe{
	margin: 13px 0 0 20px;
}

.slider__circle{
	height: 12px;
	width: 12px;
	background: #d7d7d8;
	border-radius: 10px;
	display: inline-block;
	margin-left: 15px;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
	position: relative;
	right: 10px;
	bottom: 15px;
}

.slider__circle:hover{
	background: #9a9a9d;
	transform: scale(1.3);
}

.slider{
	margin-top: 38px;
	text-align: center;
	border-bottom: 1px solid #bbbbbd;

}

.container_main-block{
	margin-bottom: 20%;
}

.icons-block{
	display: inline-block;
	padding-left: 7px;
}