$base-size = 16px
$images = '../images/'

// Опорные точки для медиа выражений указываются в em чтобы при масштабирование страницы
// медиа выражения так же работали 1em = 16px. 16px берется из размера корневого элемента страницы у нас это body
$media = {
  mobile: 20em, // 320px если размер шрифта 16px
  tablet: 48em,
  desktop: 64em
}
