extends ../layout/main

block config
	- var pageTitle = 'Hotels'
	- var pageDescription = 'Hotels descr'

block main
	include ../partials/modules/search
	// Hotels
	ul.hotels
		+hotel-item('hotel-sheraton', 'Гостиница Шератон Москва', 'Химки — рядом с Москва', '5', '18 800')
		+hotel-item('hotel-palmira', 'Palmira Bussines Club', 'В центре города', '4', '15 000')
		+hotel-item('hotel-palmira2', 'Palmira Bussines Club', 'В центре города', '5', '13 200 ')
	// /Hotels