// Search
.search__wrapper
	form(action="").search
		.search__group
			input(type="search" name="search" placeholder="Поиск отеля по названию").search__field
			button(type="submit").search__submit: img(src="images/search-icon.svg" alt="Поиск")
// /Search